rapport.pdf
rapport.out
rapport.log
rapport.fls
rapport.fdb_latexmk
rapport.blg
rapport.bbl
rapport.aux
pdflatex27449.fls
.vscode
_minted-mimi
rapport.synctex.gz
saintemerededie.pdf
SNR.tex
cquoi.tex
figures